<!DOCTYPE html>
<html>
<head>
    <title>Search Page</title>
</head>
<body>
    <form method="POST" action="/search">
       
        <select id="division" name="division">
            <option value="Division 1">Division 1</option>
            <option value="Division 2">Division 2</option>
        </select>

        
        <select id="district" name="district">
            <option value="District 1">District 1</option>
            <option value="District 2">District 2</option>
        </select>

        
        <select id="range" name="range">
            <option value="Range 1">Range 1</option>
            <option value="Range 2">Range 2</option>
        </select>

        
        <select id="block" name="block">
            <option value="Block 1">Block 1</option>
            <option value="Block 2">Block 2</option>
        </select>

        
        <select id="beat" name="beat">
            <option value="Beat 1">Beat 1</option>
            <option value="Beat 2">Beat 2</option>
        </select>

        
        <select id="village" name="village">
            <option value="Village 1">Village 1</option>
            <option value="Village 2">Village 2</option>
        </select>

        
        <select id="wing" name="wing">
        <option value="Wing 1">Wing 1</option>
        <option value="Wing 2">Wing 2</option>
        </select>

        
        <select id="land-category" name="land-category">
        <option value="Category 1">Category 1</option>
        <option value="Category 2">Category 2</option>
        </select>

        
        <select id="land" name="land">
        <option value="Land 1">Land 1</option>
        <option value="Land 2">Land 2</option>
        </select>

        
        <select id="scheme" name="scheme">
        <option value="Scheme 1">Scheme 1</option>
        <option value="Scheme 2">Scheme 2</option>
        </select>

        
        <select id="unit" name="unit">
        <option value="Unit 1">Unit 1</option>
        <option value="Unit 2">Unit 2</option>
        </select>

        
        <select id="value" name="value">
        <option value="Value 1">Value 1</option>
        <option value="Value 2">Value 2</option>
        </select>

        
        <select id="spacing" name="spacing">
        <option value="Spacing 1">Spacing 1</option>
        <option value="Spacing 2">Spacing 2</option>
        </select>

        <select id="spacing" name="spacing">
            <option value="Spacing 1">Spacing 1</option>
            <option value="Spacing 2">Spacing 2</option>
            </select>


        <button type="submit">Search</button>
    </form>
</body>
</html>
